html, body{
    background-color: black;
    color: white;
    font-size: 12pt;
}

/* DIVS */

div.title{
    background-color: black;
    height: 80px;
    vertical-align: middle;
}

div.menu{
    background-color: black;
    height: 50px;
}

div.sidemenu{
    height: 100%;
    background-color: black;
}

div.submenu{
    background-color: black;
    height: 50px;
}

div.viewer{
    background-color: black;
    height: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: whitesmoke;
}

div.footer{
    background-color: black;
    height: 30px;
    text-align: right;
}

/* TABLES */

table.main{
    vertical-align: middle;
    background-color: brown;
    width: 100%;
    height: 100%;
    color: white;
    border-style: dotted;
    border-width: 1px;
    border-color: whitesmoke;
}
table.title{
    padding: 5px;
    background-color: black;
    width: 100%;
    vertical-align: middle;
    border-style: dashed;
    border-width: 1px;
    border-color: lightblue;
    font-family: Lato;
    font-size: 3em;
    color: whitesmoke;
}

table.menu{
    text-align: center;
    background-color: black;
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: whitesmoke;
}

table.sidemenu{
    width: 100%;
    padding: 5px;
    background-color: black;
    align-content: center;
    text-align: center;
    vertical-align: top;
    border-style: dashed;
    border-width: 1px;
    border-color: whitesmoke;
}

table.submenu{
    text-align: center;
    background-color: black;
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: whitesmoke;
}

table.footer{
    text-align:right;
    padding-right: 10px;
    font-family: Lato;
    font-size: 0.6em;
    background-color: black;
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-width: 1px;
    border-color: whitesmoke;
}

table.viewer{
    width: 100%;
    padding: 10px;
}


td.sidemenu{
    width: 10%;
}

/* Anchors */

a.menu{
    display: inline-block;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1.4em;
    font-style: none;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    width: 180px;
}

a.sidemenu{
    display: inline-block;
    font-family: Lato;
    font-size: 0.9em;
    font-style: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    width: 100px;
}

a.submenu{
    display: inline-block;
    font-family: Lato;
    font-size: 1.2em;
    font-style: none;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    width: 100px;
}