<html>
<head>
    <title>HEIST Gym</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    

</head>

<body>

    <table class="main">
        <tr height="80px">
            <td colspan=2>
                <div class="title">
                    {% block title %}
                    <table class="title">
                        <tr>
                            <td>
                                HEIST Athletics
                            </td>
                        </tr>
                    </table>
                    {% endblock %}
                </div>
            </td>
        </tr>

        <tr height="50px">
            <td colspan=2>
                <div class="menu">
                    {% block menu %}
                    <table class="menu">
                        <tr>
                            <td><a href="{% url 'info' %}" class="menu">Info</a></td>
                            <td></td>
                        </tr>
                    </table>
                    {% endblock %}
                </div>
            </td>
        </tr>

        <tr height="50px">
            <td class="sidemenu" rowspan=2>
                <div class="sidemenu">
                    {% block sidemenu %}
                        <table class="sidemenu">
                            <tr>
                                <td>
                                    Sidemenu
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>
                    {% endblock %}
                </div>
            </td>
            <td>
                <div class="submenu">
                    {% block submenu %}
                        <table class="submenu">
                            <tr>
                                <td>
                                    <a href="" class="submenu">Submenu</a>
                                    <a href="" class="submenu">Submenu</a>
                                    <a href="" class="submenu">Submenu</a>
                                </td>
                            </tr>
                        </table>
                    {% endblock %}
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="viewer">
                {% block content %}
                <table class="viewer">
                    <tr>
                        <td>
                            Content
                        </td>
                    </tr>
                </table>
                {% endblock %}
                </div>
            </td>
        </tr>

        <tr height="30px">
            <td colspan=2>
                <div class="footer">
                    {% block footer %}
                    <table class="footer">
                        <tr>
                            <td>
                                Software Developed and Licensed for Use by MVW Ventures, 2024
                            </td>
                        </tr>
                    </table>
                    {% endblock %}
                </div>
            </td>
        </tr>

    </table> 

</body>
</html>
